:root {
    --cor-clara: #ffdcad;
    --cor-escura: #62753b;
}

body {
    background: var(--cor-escura);
    font: normal 1em Arial;
    text-align: center;
}

h1 {
    color: var(--cor-clara);
}

section {
    background-color: var(--cor-clara);
    border-radius: 1em;
    padding: 1em;
    width: 500px;
    margin: auto;
    box-shadow: 0.3em 0.3em 0.9em #00000067;
}

.rodape {
    color: var(--cor-clara);
    font-size: 0.9em;
    font-style: italic;
}